body {
  background-color: yellow;
  color: blue;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button {
  color: blue;
  background-color: rgb(241, 241, 136);
}

.campos label {
  color: blue;
  width: 100px;
  float: left;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.input-resp {
  width: 200px;
}

.resultado {
  border: solid 2px black;
}

.busca {
  margin-bottom: 30px;
}

.nav {
  width: 330px;
}
