body{
  font-family:sans-serif;
}

header{
  text-align:center;
}

form, table{
  float: left;
  width:50%;
}

ul{
  list-style:none;
}

img{
  max-width:150px;
  height:auto;
}

label{
  display:block;
}

button:hover,
button:focus{
  background:darkgreen;
  cursor:pointer;
}

td, th{
  padding:5px 15px;
  border:1px solid #ccc;
}
