*{
   box-sizing: border-box;
}
body{
   min-height: 100vh;
   display:flex;
   justify-content: center;
   align-items: flex-start;
}
.container{
   display:flex;
   flex-wrap: wrap;
   flex: 0 1 60%;
   min-width:400px;
}

.buttons,.result{
   display: flex;
   flex-wrap: wrap;
   flex: 0 1 100%;
}
.result{
   height: 50px;
   border: 1px solid black;
   justify-content: flex-end;
   align-items: center;
   font-size: 1.5em;
   background: #000;
   color:#fff;
   padding:0 10px;
   text-align: right;
}
.button{
   display:flex;
   flex: 0 1 25%;
   justify-content: center;
   align-items: center;
   height: 50px;
   border: 1px solid black;
   border-top:none;
   border-left:none;
   cursor: pointer;
   background: -webkit-linear-gradient(top,#d2d2d2,#ddd);
   font-size:2em;
}
.button:nth-child(4n+1){
   border-left: 1px solid black;
}
.button:nth-child(4n),.button:last-child{
   background: #f98110;
   color: #fff;
}
.zero-btn{
   flex-grow: 2;
}
.doubleBordered{
   border: 2px solid black;
}
