* {
  margin: 0;
  padding: 0;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

label {
  margin-left: 30px;
  display: inline-block;
}

input {
  width: 200px;
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 435px;
  padding: 1em;
  border: 1px solid #ccc;
}

img {
  width: 100px;
  height: auto;
}

tr, th, td {
  border: 1px solid #ccc;
}
